.thumb {
  margin-bottom: 1.45rem;
  padding: 0.5rem;
  text-align: center;
}

.thumb--small {
  width: 200px;
}

.thumb--reg {
  width: 300px;
}

.thumb:after {
  content: "";
  display: block;
  clear: both;
}

.thumb--float-left {
  margin-right: 0.5em;
  text-align: left;
}

.thumb--float-right {
  margin-left: 0.5em;
  text-align: right;
}

.thumb__image {
  margin-bottom: 0;
}

.thumb__caption {
  width: 100%;
  display: block;
  color: #333;
  font-size: 0.6em;
  text-align: left;
}

.thumb__source {
  float: right;
}

.thumb a {
  color: white;
}
