.thumb {
  margin-bottom: 1.45rem;
  width: 400px;
  padding: 0.5rem;
}

.thumb:after {
  content: "";
  display: block;
  clear: both;
}

.thumb--float-left {
  margin-right: 0.5em;
}

.thumb--float-right {
  margin-left: 0.5em;
}

.thumb__image {
  margin-bottom: 0;
}

.thumb__caption {
  width: 100%;
  display: block;
  color: white;
  font-size: 0.8em;
  text-align: left;
}

.thumb__source {
  float: right;
}

.thumb a {
  color: white;
}
