.nav__link {
  color: #eee;
  margin: 0 8px 0 0;
  text-transform: uppercase;
}

.header {
  padding-top: 1.45rem;
  padding-bottom: 1.45rem;
}

.header__nav {
  font-size: 0.9em;
  padding-bottom: 1.45rem;
}
